/.venv/
/construct/api/migrations/
/construct/shop/migrations/
/construct/dashboard/migrations/
/construct/cart/migrations/
/construct/news/migrations/
/construct/crm/migrations/
/construct/sharp_draft/migrations/
/construct/api/__pycache__/
/construct/api/__init__.py
/construct/cart/__pycache__/
/construct/shop/__pycache__/
/construct/dashboard/__pycache__/
/construct/news/__pycache__/
/construct/construct/__pycache__/
/construct/crm/__pycache__/
/construct/sharp_draft/__pycache__/
/construct/media/

cranko.exe
/.doctrees/
/.idea/

/sharp_draft/dashboard/__pycache__/
/sharp_draft/api/__pycache__/
/sharp_draft/sharp_draft/__pycache__/

/logs/
/config/
/sharp_draft/static/dashboard/css/__init__.py
/construct/api/old migrations/
/construct/modules/__pycache__/
*.pyc
media_files/
*.json
*.json
*.sql
construct/db.json
construct/db.json
/construct/sharp_draft/profiles/
/construct/sharp_draft/scheme/
