.main_page {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1% 0 0 0;
    height: 90vh;
    justify-content: space-around;
}
.drf_window {
        background: lightblue;
}

.crm_nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 90vh;
    justify-content: space-between;
}
.buts, .swag {
    display: flex;
    margin: 1% 0 0 0;
    flex-direction: column;
    align-items: flex-start;
}
.buts > a, .swag > a {
    text-decoration: none;
    margin: 3% 0 2% 0;
    font-size: 14px;
}

.drf_window {
    display: flex;
    flex-direction: column;
    width: 39%;
    align-items: center;
}

.logs {
    display: flex;
    flex-direction: column;
    width: 39%;
    align-items: center;
}

.logs_content {
    background: black;
    color: white;
    margin: 0 0 0 0;
    width: 100%;
    height: 85vh;
    padding: 8px;
    overflow: scroll;
    font-size: 10px;
}

.nav-tabs > li > a.api-tab.active, .nav-tabs > li > a.orders-tab.active, .nav-tabs > li > a.server-tab.active {
    background-color: black;
    color: white;
    border-color: black;
}
.nav-tabs > li:hover {
    border: none;
}