body {
    background: radial-gradient(white, LightCyan);
}

.main_nav {
    height: 94vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.crm_nav {
    width: 15%;
    height: 94vh;
    position: fixed;
}

.buts {
    height: 94vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

.content {
    margin: 0 0 0 15%;
    width: 85%;
}