.main {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.terms {
  display: flex;
  flex-direction: column;
  color: gray;
  font-size: 22px;
  width: 60%;
}
