.profileform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 94 vh;
}

.form {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}