.orders_list {
    display: flex;
    width: 90%;
    margin: 1% 0 0 5%;
    flex-wrap: wrap;
}
.order {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: 1% 1% 0 1%;
    border-radius: 10px;
    box-shadow: 0 0 5px gray inset;
    padding: 1%;
}
.order a {
    text-decoration: none;
}