.list {
    display:flex;
    width: 90%;
    margin: 0 0 0 5%;
    flex-direction: column;
}
.product_item {
   display:flex;
   width: 100%;
   margin: 2% 0 0 0;
   flex-direction: row;
   justify-content: space-between;
   font-size: 28px;
   border: 1px solid lightblue;
   padding: 1%;
   height: 58px;
}
.description {
    display:flex;
    width: 40%;
    justify-content: flex-start;
}
.price {
    display:flex;
    width: 25%;
    justify-content: space-between;
}
.is_active {
    display:flex;
    width:15%;
    justify-content: center;
}
.buttons {
    display:flex;
    width:15%;
    justify-content: space-around;

}
.add_product {
    margin: 2% 10% 0 5%;
    font-size: 20px;
    display: flex;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.d1 {
    background: #fff;
}
.d1 input {
  width: 100%;
  height: 36px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #9E9C9C;
}
.d1 button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 36px;
  height: 36px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.a_cat {
    display:flex;
    justify-content: center;
    font-size: 28px;
    color: blue;
    margin: 2% 0 0 0;
}