body {
  background: repeating-linear-gradient(
  45deg,
  white,
  white 90px,
  rgb(240, 240, 240) 90px,
  rgb(240, 240, 240) 180px
);
}
.sharp_form {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    justify-content: center;
    z-index: 1;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid;
}

.sharp_form_1, .sharp_form_2,
.sharp_form_3, .sharp_form_4,
.sharp_form_5{
   margin-bottom: 15px;
}

.body_img {
    width: 70%;
    margin-left: 25%;
}

.body_img > img {
    max-width: 90%;
    height: 70%
    display:flex;
    justify-content: flex-end;
    align-items: end;
}