{% extends 'shop/shop Layout.html' %}
{% load static %}
{% block title %}{{order}}{% endblock %}

{% block shopstatic %}
    <link rel="stylesheet" href="{% static 'dashboard/css/shop_product_edit.css' %}">
{% endblock %}

{% block shop-style %}
<style>

</style>
{% endblock %}

{% block shop %}
<div class="profileform">
    <form method="POST" >
        <div class="form">
            {% csrf_token %}
            {{ form.as_p }}<br>
            <button type="submit" class="btn btn-info" style="margin-bottom: 2%;" >Обновить</button>
        </div>
    </form>
</div>
{% endblock %}