{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}Ой, 500{% endblock %}
{% block style %}
<style>
    .notexist {
        margin-top: 3%;
        display: flex;
        color: Green;
        font-size: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}
{% block content %}
<div class="notexist">
    <a>Что-то пошло не так.</a>
    <a>{{ message }}</a>
    <a style="font-size: 30px;" class="btn btn-link" href="{% url 'dashboard:home' %}">Вернуться на главную</a>
    <img src="{% static 'dashboard/img/500.jpg' %}" alt="500" width="50%" style="margin-left: 2%;">
</div>
{% endblock %}
