{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}Политика конфиденциальности{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/privacy_policy.css' %}">
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}
{% block content %}
    <div class="main">
        <a style="font-size: 50px;"> Политика конфиденциальности </a>
        <a style="font-size: 22px;"> Общие положения </a><br>
        <div class="terms">
            <a>1.1. Настоящая политика организации "Construct" в отношении обработки персональных данных разработана
                во исполнение требований п.2 ч. 1 ст. 18.1 Федерального закона от 27.07.2006 № 15-ФЗ
                "О персональных данных" в целях обеспечения защиты прав и свобод человека и гражданина при обработке
                его персональных данных, в том числе защиты прав на неприкосновенность частной жизни,
                личную и семейную тайну
            </a><br>
            <a>1.2. Политика действует в отношении всех персональных данных, которые обрабатывает организация.</a><br>
            <a>1.3. Политика распространяется на отношения в области обработки персональных данных, возникшие у
            оператора как до, так и после утверждения настоящей политики.</a><br>
            <a>1.4. Во исполнение требований ч. 2 ст. 18.1 Закона о персональных данных настоящая политика публикуется
                в свободном доступе в информационно-телекоммуникационной сети Интернет.</a><br>
        </div>
        <a style="font-size: 22px;" href="http://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank"> О персональных данных </a>
    </div>
{% endblock %}
