{% extends 'sharp_draft/index.html' %}
{% load static %}
{% block title %}Sharp Draft{% endblock %}

{% block SD-static %}
    <link rel="stylesheet" href="{% static 'sharp_draft/css/create.css' %}">
    <link rel="stylesheet" href="{% static 'sharp_draft/css/table.css' %}">
{% endblock %}

{% block SD-style %}
<style>

</style>
{% endblock %}
{% block SD %}
    <form method="POST">
        {% csrf_token %}
        <div class="create">
            {{ form.name }}
            <button  type="submit" class="btn btn-outline-primary"> Создать штамп </button>
        </div>
        <table class="mt">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4" rowspan="2" width="70%">{{ form.code }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4" rowspan="3">{{ form.project }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Изм.</td>
                <td>Кол. уч</td>
                <td>Лист</td>
                <td>№ док.</td>
                <td>Подпись</td>
                <td>Дата</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">Нач. отдела</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td rowspan="3" width="45%">{{ form.object }}</td>
                <td>Стадия</td>
                <td>Лист</td>
                <td>Листов</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">ГИП</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td rowspan="2">{{ form.stage }}</td>
                <td rowspan="2">{{ form.page }}</td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">Проверил</td>
                <td colspan="2" style="text-align: left;">{{ form.checker }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">Нач. группы</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
                <td rowspan="3">{{ form.schema }}</td>
                <td colspan="3" rowspan="3">{{ form.company }}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">Разработал</td>
                <td colspan="2" style="text-align: left;">{{ form.author }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">Н. контроль</td>
                <td colspan="2"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
{% endblock %}
