{% extends 'dashboard/layout.html' %}
{% load static %}
{% block title %}Sharp Draft{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'sharp_draft/css/index.css' %}">
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}
{% block content %}

<form style="margin: 3% 0 0 3%" method="POST">
    {% csrf_token %}
    {{ form.length }}
    {{ form.project_name }}
    {{ form.element_name }}
    {{ form.profile }}
    {{ form.material }}
    <button type="submit" class="btn btn-info"> Создать файл </button>
</form><br>
{% if message %}
{{ message }}
{% endif %}
{% endblock %}
