{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'crm/css/nav.css' %}">
    {% block crm-static %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'crm/favicon.ico' %}">

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    {% block crm-style %}
    {% endblock %}

</head>
<body>
<div class="up_nav">
    <div class="left_one">
        <a href="{% url 'crm:home' %}" style="margin-left: 3%;">
            <img src="{% static 'crm/img/LOGO.png' %}" width="35" height="35"></a>
        <a href="{% url 'admin:index' %}"><i class="fas fa-user"></i> Администрирование</a>
        <a> | </a>
        <a href="{% url 'crm:home' %}"><i class="fas fa-clock"></i> Логи</a>
    </div>
    <div class="right_one">
        <a>{{user}}</a>
        <a class="btn btn-outline-primary" href=""><i class="fa fa-logout"></i> Выйти</a>
    </div>
</div>
<div style="height: 6vh"></div>

<div class="main_nav">

    <div class="crm_nav">
        <div class="buts">
            <a href="{% url 'crm:home' %}">Главная страница</a>
            <a href="{% url 'crm:products_list' %}">Управление товарами</a>
            <a href="{% url 'crm:news_list' %}">Управление новостями</a>
            <a href="{% url 'crm:orders' %}">Управление заказами</a>
            <a href="{% url 'crm:permissions' %}">Управление правами</a>
            <a href="{% url 'crm:support_list' %}">Вопросы тех. поддержки</a>
            <a href="">Шаблоны пользователей</a>
            <a href="{% url 'crm:reports' %}">Отчеты</a>

            <a target="_blank" href="http://127.0.0.1:8000/swagger/">Swagger</a>
            <a target="_blank" href="http://127.0.0.1:8005/docs">Docs</a>
            <a target="_blank" href="http://127.0.0.1:8000/redoc/">Redoc</a>
            <a target="_blank" href="">Sphinx</a>
        </div>
    </div>


    <div class="content">
        {% block crm %}
        {% endblock %}
    </div>
</div>

</body>
</html>