{% extends 'crm/crm_layout.html' %}
{% load static %}
{% block title %}CRM Отчеты{% endblock %}

{% block crm-static %}
    <link rel="stylesheet" href="{% static 'crm/css/reports.css' %}">
{% endblock %}

{% block crm-style %}
    <style>
    </style>
{% endblock %}

{% block crm %}
<div class="title">
    <a>Excel Отчеты</a>
</div>
<div class="rep1">
    <a>Отчет о выручке</a>
    <form method="POST">
        {% csrf_token %}
        <div class="order_form">
            {{ form }}
            <button type="submit" class="btn btn-outline-success"> Сгенерировать отчет </button>
       </div>
    </form>
</div><hr>
{% endblock %}
